$border-color: #d0d0d0;
$border-color-hover: #a0a0a0;
$border-color-active: #538fcc;

$title-bar-color: #ecf0f1;
$footer-bar-color: #f2f2f2;

$panel-body-bg: #fff;
$head-text-color: #555;

$sidebar-bg: #e4eeed;
$topbar-bg: #00acc1;