@import "_color";

.combo-input {
	cursor: default;
}

.combo-dropDown {
	width: 250px;
	overflow: auto;
	position: absolute;
	z-index: 999;
	display: none;
	border: 1px solid $border-color-active;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	background-color: #fff;
}

.treeField-combo {
	width: 220px;
	max-height: 250px;
}