@import "/css/module/_color";

$left-width: 220px;

#leftSec{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: auto;
	width: $left-width;
	border-right: 1px solid darken($sidebar-bg , 5%);
}

#rightSec{
	position: absolute;
	top: 0;
	left: $left-width;
	bottom: 0;
	right: 0;
	overflow: auto;
	padding: 2em;
}