@import "/css/module/color";

$sidebar-width: 180px;

$topbar-height: 55px;

body {
	padding: 0;
	overflow: hidden;
}

#header {
	height: $topbar-height;
	//min-width: 1160px;
	background-color: $topbar-bg;
	
	#logo {
		display: inline-block;
		width: $sidebar-width;
		height: $topbar-height;
		background-color: darken($topbar-bg, 2%);
		//border-right: 1px solid darken($topbar-bg , 2%) ;
		text-align: center;
		color: #fff;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 36px;
		float: left;
		img {
			height: 28px;
			width: 28px;
			margin-top: -4px;
			vertical-align: middle;
		}
	}
	
	.ico-more-vert {
		//position: absolute;
		z-index: 5;
		right: 0;
		
		display: inline-block;
		//transform: scale(0.5);
		width: 36px;
		height: 36px;
		//cursor: pointer;
		float: right;
		margin-top: 10px;
		margin-right: 16px;
		border-radius: 50px;
		background: {
			image: url("/css/ico/more-vert.png?__inline");
			repeat: no-repeat;
			position: center center;
		}
		&:hover {
			background-color: darken($topbar-bg, 3%);
			
			#moreMenu {
				display: block;
				right: 0; //0 - 16px ;
			}
		}
		
		#moreMenu {
			
			display: none;
			position: absolute;
			z-index: 50;
			
			padding: $topbar-height 0 1em 1em;
			
			top: 0; //-1px - 8px;
			right: 0; //-160px - 16px;
			
			width: 150px;
			
			transition-duration: 0.3s;
			
		}
		
		ul {
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
			li {
				background-color: #fff;
				padding: 1em 1.2em;
				//border-bottom: 1px solid #eee;
				cursor: pointer;
				
				&:hover {
					background-color: #e9e9e9;
				}
			}
			#liLogOff {
				border-top: 1px solid #eee;
			}
		}
	}
	
	menu {
		position: absolute;
		display: inline-block;
		height: $topbar-height;
		white-space: nowrap;
		
		> a {
			display: inline-block;
			font-size: 18px;
			color: #fff;
			text-align: center;
			text-decoration: none;
			line-height: $topbar-height;
			padding: 0 1.5em;
			height: $topbar-height;
			&:hover {
				background-color: darken($topbar-bg, 3%);
			}
			&.cur {
				border: {
					width: 0 1px;
					style: solid;
					color: darken($topbar-bg, 8%);
				}
				background-color: darken($topbar-bg, 5%);
				box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
			}
		}
		
		&.small-menu > a {
			font-size: 16px;
		}
		&.mini-menu > a {
			font-size: 14px;
		}
		&.nano-menu > a {
			font-size: 12px;
		}
	}
}

#sideBar {
	position: absolute;
	top: $topbar-height;
	bottom: 0;
	left: 0;
	width: $sidebar-width;
	background-color: $sidebar-bg;
	//border-right: 1px solid darken($sidebar-bg, 5%);
	box-shadow: inset -1px 1px 2px 0 rgba(0,0,0,0.1);
	
	padding-top: 1em;
	
	/*.ico-tg{
		cursor: pointer;
	}*/
	
}

#subMenu {
	position: absolute;
	top: 10px;
	left: 0;
	bottom: 10px;
	right: 0;
	overflow: auto;
	
	a {
		display: block;
		border: solid transparent;
		border-width: 1px 0 1px 0;
		height: 2.6em;
		line-height: 2.6em;
		padding-left: 3em;
		font-size: 14px;
		text-decoration: none;
		color: #333;
		transition: text-indent 200ms ease;
		
		&:hover {
			color: #4b6887;
			background-color: #c7e4f1;
			text-indent: 5px;
		}
		&.cur {
			color: darken($sidebar-bg, 55%);
			background-color: darken($sidebar-bg, 10%);
			//border-color: darken($sidebar-bg, 15%);
			//box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
			
			background-image: url("/css/img/posi-arr.png?__inline") ;
			background-position: right center;
			background-repeat: no-repeat;
		}
	}
}

#td {
	position: absolute;
	top: $topbar-height;
	bottom: 0;
	left: $sidebar-width;
	right: 0;
}

#divPn1 {
	opacity: 0.6;
	width: 14px;
	height: 14px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: $topbar-height - 14;
	left: $sidebar-width - 14;
	background: url("../css/ico/tglFm.gif?__inline") center center no-repeat;
}
#divPn1:hover{
	opacity: 1;
}