<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <connectionStrings>
    <add name="constr" connectionString="Data Source=|DataDirectory|\\v.sqlite3;Version=3;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- <authentication mode="Forms">
      <forms name=".LyuAuth" loginUrl="qka/default.aspx" path="/" protection="All" timeout="20" slidingExpiration="true">
      </forms>
    </authentication> -->
    <customErrors mode="RemoteOnly" />
    <sessionState mode="InProc" timeout="20" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" />
	<!-- <httpHandlers>
		<add path="/api/*/*/*" verb="*" type="Lyu.Handler.ApiHandler, Lyu" />
	</httpHandlers> -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
	<handlers>
		<add name="webapi" path="/api/*" verb="*" type="Lyu.Handler.ApiHandler, Lyu" />
	</handlers>
    <httpErrors errorMode="Detailed" />
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        <staticContent>
        </staticContent>
  </system.webServer>
  <!-- <location path="qka">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="qka/doLogin.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location> -->
</configuration>