@charset "utf-8";
/* main Document */

@-ms-keyframes shake{
	0%{ -ms-transform:translateY(-5px);}
	50%{-ms-transform:translateY(0);}
	100%{ -ms-transform:translateY(-5px);}
}
@-webkit-keyframes shake{
	0%{ -webkit-transform:translateY(-5px);}
	50%{-webkit-transform:translateY(0);}
	100%{ -webkit-transform:translateY(-5px);}
}
.ani-shake{-webkit-animation:shake 0.5s infinite; -ms-animation:shake 0.5s infinite; animation:shake 0.5s infinite;}

#share{z-index:8888; background-color:rgba(0,0,0,0.8); color:#fff; text-align:right; position:fixed; left:0px; top:0px; width:100%; height:100%; display:none;}
.share{width:100%; display:block;}

body{background-color:#eee;}

#page0{background-color:#00b9b0;}
#page1{background-color:#12803b;}
#page2{background-color:#7df1e0;}
#page3{background-color:#ffc517;}

.j-page{position:absolute; width:100%; min-height:100%;}

#pages,#scroller{position:fixed; width:100%; height:100%; left:0px; top:0px; }

.wrap{padding:30px 20px; font-size:14px; background-color:#eee; color:#444;}
h1{font-size:24px; padding-bottom:30px; font-weight:normal; color:#12803b;}
h4{font-size:14px; font-weight:bold; padding-bottom:10px; background-color:#69a100; color:#fff; float:left; line-height:24px; padding:0px 5px; border-radius:2px;}
p{margin-bottom:10px;  line-height:20px; clear:both;}
.item{margin-bottom:40px;}

.btn-wrap{clear:both; text-align:center;}
a.btn-commmon,a.btn-commmon:visited{width:120px; line-height:44px; color:#fff; display:inline-block; text-align:center; height:44px; font-size:14px; text-decoration:none; border-radius:5px; margin-bottom:10px; background-color:#3e8500;}
a.btn-back,a.btn-share{ background:none; color:#444; box-shadow:0px 0px 1px #888;}
a.btn-commmon2{width:240px; font-size:18px;}
a.btn-all{ background-color:#a7ba00;}

.hpic{display:block; width:100%;}

a.link,a.link:visited{ color:#3e8500;}
